.footer_logo {
    color: rgb(72, 72, 72);
    font-family: 'Do Hyeon', sans-serif;
}

.footer_button {
    color: gray;
    font-size: .9rem;
}

.footer {
    text-align: center;
    margin-top: 2rem;
}

a {
    text-decoration: none;
}

#but {
    background-color: rgb(255, 255, 255);
    font-size: large;
    text-align: center;
}

#layer_fixed {
    height: 35px;
    width: 100%;
    color: #555;
    font-size: 12px;
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;
    -webkit-box-shadow: 0 1px 2px 0 #777;
    box-shadow: 0 1px 2px 0 #777;
    background-color: #ccc;
}

header {
    height: 50px;
    top: 50%;
}

header .spot {
    position: absolute;
    right: 20rem;
    top: 5rem;
}

.margin-for-footer {
    margin-bottom: 130px;
}

.box {
    width: 150px;
    height: 150px;
    border-radius: 70%;
    overflow: hidden;
}

.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* 
    rem 대부분 씀 
    px  em rem % 
    px : 부모가 작아지든말든 child 갈길은 가 
    em : 부모가 커지면 child가 따라감/ 단점: 부모가 여러개 있으면 몇배로 커짐 모든 부모 합해서
    rem : 부모가 커지든 작아지든 root html 의 폰트 사이즈를 따라감.  
    responsive : 

*/