<nav>
    <div id="but">
        <ul>
            <button id="btn2" class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='1.html' ">인문계열</button>
            <button id="btn2" class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='2.html' ">사회계열</button>
            <button id="btn3" class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='3.html' ">교육계열</button>
            <button id="btn4" class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='4.html' ">자연계열</button>
            <button id="btn5" class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='5.html' ">공학계열</button>
            <button id="btn6" class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='6.html' ">의약계열</button>
            <button id="btn7" class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='7.html' ">예체능계</button>
        </ul>
    </div>

</nav>