<div style="text-align: center; margin: 2rem 0; ">

    <div>
        <span><a href="/">홈 | </a> </span>
        <span><a href="/blog/" style="margin:5rem .1rem;"> 실시간 게시글 |  </a></span>
        <span><a href="/blog/"> 핫 게시글 |</a></span>
        <span><a href="/about_me/">마이페이지</a> </span>
        <!-- 로그인이나 로그아웃 하면 next라는 인자를 넘겨줘. 로그인을 하고나서 원래 있었던 자리로되는거 -->
    </div>



</div>

<nav>
    <div id="but">
        <ul>
            <button id="btn2" class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='1.html' ">인문계열</button>
            <button id="btn2" class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='2.html' ">사회계열</button>
            <button id="btn3" class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='3.html' ">교육계열</button>
            <button id="btn4" class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='4.html' ">자연계열</button>
            <button id="btn5" class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='5.html' ">공학계열</button>
            <button id="btn6" class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='6.html' ">의약계열</button>
            <button id="btn7" class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='7.html' ">예체능계</button>
        </ul>
    </div>

</nav>