 {% extends 'blog/base.html' %} {% block mainarea %}

<div style="background-color: rgb(243, 243, 243);">

    <div class="container my-3">
        <div class="row">

            <div class="col-md-8 col-lg-9">


                {% for p in post_list %}

                <div class="card mb-4">

                    {% if p.head_image %}


                    <img class="card-img-top" src="{{p.head_image.url}}" alt="{{ p }} head image"> {% else %}
                    <img class="card-img-top" src="https://picsum.photos/seed/{{p.id}}/800/200" alt="randomimage"> {% endif %}
                    <div class="card-body">
                        <h2>{{p.title}}</h2>
                        {% if p.hook_text%}
                        <h5 class="text-muted">{{p.hook_text}}</h5>
                        {% endif %}

                        <p class="card-text">{{p.get_content_markdown | truncatewords_html:45|safe}}</p>

                        <div style="text-align: center;">
                            <a href="{{p.get_absolute_url}}" class="btn btn-outline-success my-2 my-sm-0" style="text-align: center;">더보기</a>
                        </div>




                    </div>
                    <div class="card-footer text-muted">
                        Posted on {{p.created_at}} by
                        <a href="#">{{ p.author | upper }}</a>

                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="col-md-4 col-lg-3">
                {% include 'blog/sidenav.html'%}
            </div>
        </div>

        <!-- <div id="layer_fixed">
        <table cellspacing="20" cellpadding="20" style="width:100%; height:100%;">
            <tr>
                <td style="vertical-align:middle; padding-left: 20px; padding-right: 20px;">
                    고정된 레이어입니다.
                </td>
            </tr>
        </table>
    </div> -->

    </div>


    {% endblock %}



    <!--     

    <a href="./index.html ">home</a>
    <a href="./blog_list.html ">blog</a>
    <a href="./about_me.html ">about me </a>

    <h1>about me</h1>
    <h2>서울 사람 이성용입니다</h2>

    <p>웹사이트 만들기</p>
    <a href="index.html ">첫 화면</a>
    <img src="./hi.jpg " alt=" " height="400px "> -->