 {% extends 'blog/base.html' %} {% load crispy_forms_tags %} {% block head_title %} {{post.title}} - Blog {% endblock%} {% block mainarea %}



<div id="post-area">
    <div class="container my-3">
        <div class="row">
            <div class="col-md-3 col-lg-9" id="post-area">
                <h2>{{post.title}}</h2>
                <a href="#">{{post.author | upper }}</a>
                <div class="card mb-4">
                    {% if post.head_image %}
                    <img class="img-fluid rounded" src="{{post.head_image.url}}" alt="{{ post.title }} head_image"> {% else %}

                    <img class="img-fluid rounded" src="https://picsum.photos/seed/{{post.id}}/800/200" alt="random_image"> {% endif%}


                    <div class="card-body">

                        <h5 class="text-muted">{{post.hook_text}}</h5>



                        <p class="card-text">{{post.get_content_markdown|safe}}</p>
                        <div class="card-footer text-muted">
                            Posted on {{post.created_at}} {% if user.is_authenticated and user == post.author %}
                            <a class="btn btn-info btn-sm float-right" href="/blog/update_post/{{post.pk}}/" role="button">
                                <i class="fas fa-pen"></i>Edit Post </a>


                            {% endif %} {% if post.file_upload %}
                            <a href="{{post.file_upload.url}}" class="btn btn-outline-dark" role="button" download>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-in-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1h-2z"/>
                                    <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                </svg>
                            </a> {% endif %}

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-lg-3">
                {% include 'blog/sidenav.html'%}
            </div>


            <div id="comment-area">
                <!-- Comments Form -->
                <div class="card my-4">
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">
                        {% if user.is_authenticated %}
                        <form id="comment-form" method="POST" action="{{ post.get_absolute_url }}new_comment/">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ comment_form | crispy }}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        {% else %}
                        <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="#" data-toggle="modal" data-target="#loginModal">Log in and leave a comment</a> {% endif %}
                    </div>
                </div>

                {% if post.comment_set.exists %} {% for comment in post.comment_set.iterator %}
                <!-- Single Comment -->
                <div class="media mb-4" id="comment-{{ comment.pk }}">
                    <img class="d-flex mr-3 rounded-circle" src="{{ comment.get_avatar_url }}" alt="{{ comment.author }}" width="60px">
                    <div class="media-body">
                        {% if user.is_authenticated and comment.author == user %}
                        <div class="float-right">
                            <a role="button" class="btn btn-sm btn-info" id="comment-{{ comment.pk }}-update-btn" href="/blog/update_comment/{{ comment.pk }}/">
                                    수정
                                </a>


                            <a role="button" class="btn btn-sm btn-danger" href="/blog/delete_comment/{{comment.pk}}/">삭제</a>

                            <!-- <a role="button" href="/blog/" id="comment-{{ comment.pk }}-delete-modal-btn" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteCommentModal-{{ comment.pk }}">
                                    delete
                                </a> -->
                        </div>

                        <!-- Modal -->
                        <!-- <div class="modal fade" id="deleteCommentModal-{{ comment.pk }}" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Are You Sure?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        <del>{{ comment | linebreaks }}</del>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <a role="button" class="btn btn-danger" href="/blog/delete_comment/{{ comment.pk }}/">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div> -->


                        {% endif %}
                        <h5 class="mt-0">
                            {{ comment.author.username }} &nbsp;&nbsp;
                            <small class="text-muted">{{ comment.created_at }}</small>
                        </h5>
                        <p>{{ comment.content | linebreaks }}</p>
                        {% if comment.created_at != comment.modified_at %}
                        <p class="text-muted float-right"><small>Updated: {{ comment.modified_at }}</small></p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %} {% endif %}
            </div>

        </div>
    </div>
</div>


{% endblock%}





<!-- {% if post.comment_set.exists %} {% for comment in post.comment_set.iterator %}
    <div class="media mb-4 " id="comment-{{ comment.pk}} ">
        <img class="d-flex mr-3 rounded-circle " src="http://placehold.it/50x50 " alt="hi ">

        <div class="media-body ">
            <h5 class="mt-0 ">{{comment.author.username}}&nbsp;&nbsp;<small class="text-muted ">{{comment.created_at}}</small></h5>
            <p>{{comment.content | linebreaks }}</p>
        </div>
    </div>

    {% endfor %} {% endif %} -->