<div class="card my-4">

    {% if user.is_authenticated %}
    <h4 style="font-family: 'Do Hyeon', sans-serif; text-align: center;">{{user.username}}님</h2>
        {% endif %}

        <div class="card-body ">
            <ul class="list-unstyled mb-0 ">
                <div style="text-align:center">

                    <div class="box" style="margin-left: auto; margin-right: auto; display: block; ">
                        <a href="/about_me/">
                            <img class="profile" src="{{ user.socialaccount_set.all.first.get_avatar_url }}">
                        </a>
                    </div>

                </div>





                <li style="text-align: center;"><a href="/about_me/">마이페이지</a></li>

            </ul>

        </div>

</div>